# Auto detect text files and perform LF normalization
* text=auto
Codes/* filter=lfs diff=lfs merge=lfs -text
Figures/* filter=lfs diff=lfs merge=lfs -text
Logfiles/* filter=lfs diff=lfs merge=lfs -text
